<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="transformer" class="ru.otus.spring.service.DataTransformer">
        <property name="csvFile" value="classpath:questionare.csv"></property>
        <property name="csv" ref="csv"></property>
    </bean>

    <bean id="csv" class="ru.otus.spring.dao.CsvDao">
        <property name="rows" ref="csvRow"></property>
    </bean>

    <bean id = "csvRow" class = "ru.otus.spring.domain.CsvRow"/>

</beans>
