<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="assembler" class="ru.otus.spring.Assembler">
        <property name="csvFile" value="classpath:questionare.csv"></property>
        <property name="excel" ref="excel"></property>
    </bean>

    <bean id="excel" class="ru.otus.spring.dao.Excel">
        <property name="rows" ref="excelRow"></property>
    </bean>

    <bean id = "excelRow" class = "ru.otus.spring.domain.ExcelRow"/>

</beans>
